body {
  font-family: Open Sans;
}
.accent-color {
  color: #fd6e0a;
}

.btn-color {
  background-color: #fd6e0a;
  color: white;
  border: none;
}

.hire-me {
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  margin-left: 150px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  margin: 0;
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
}

.contact-button {
  background-color: white;
  color: #fd6e0a;
  border-color: #fd6e0a;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
  border: 1px solid;
}

.banner {
  display: flex;
  padding: 30px 30px 0px 150px;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}
.banner .profile-pic {
  width: 550px;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700px;
  margin-top: 0px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.intro-words {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 585px;
  max-height: 60px;
  margin-bottom: 50px;
}
.main {
  max-width: 1140px;
  max-height: 550px;
  margin: 0 auto;
}
.about {
  background-color: #fff8f3;
  padding: 100px;
  border-radius: 10px;
  margin: 130px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  text-align: center;
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

#what-i-do-description {
  /* margin-left: 190px; */
  margin: 0px auto;
  text-align: center;
  width: 909px;
}

.section-title {
  margin-bottom: 0px;
}
.skill-title {
  justify-content: left;
  display: block;
  padding: 20px;
  margin-bottom: 0px;
}
.skill-icon {
  justify-content: left;
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}
.skill-container {
  display: flex;
  margin: 100px;
  /* text-align: center;
  justify-content: center; */
}

.skill {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  width: 267px;
  height: 377px;
  display: inline-block;
  position: relative;
  margin: 1%;
  justify-content: left;
}
.skill-description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding: 20px;
}

.resume {
  display: flex;
  margin: 100px;
}

.My-Education-Container {
  padding-left: 100px;
  margin-right: 71px;
}

.My-Experiance-Container {
  margin-left: 50px;
}

.title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  margin: 0px;
}

.institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}

.resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  position: relative;
}

.title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.certificate {
  margin: 0px;
}

.institute {
  margin-top: 0;
}

.description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  border-bottom: 1px solid #d1d1d1;
}

.btn-download-cv {
  margin-left: 600px;
}

.contact-container {
  background-color: #fff8f3;
  display: flex;
  margin-top: 110px;
}

.lets-connect {
  /* margin-top: 20px; */
  margin-left: 50px;
  padding: 50px;
}
.contact-title {
  text-align: left;
  white-space: nowrap;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0px;
}
.contact-schedule {
  color: #474747;
  border: none;
  padding-right: 170px;
}
.message-me {
  /* margin-top: 40px; */
  padding: 50px;
}

.message-me input {
  display: inline-block;
  margin: 8px 0;
  border-radius: 5px;
  border-style: none;
  padding: 12px 20px;
  width: 100%;
  height: 16px;
}

.message {
  border-style: none;
  resize: none;
  width: 100%;
  display: inline-block;
  margin: 8px 0;
  padding: 12px 22px;
}

#submit {
  background-color: #fd6e0a;
  color: white;
  border: none;
  height: 28px;
  width: 70px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
