body {
  font-family: Open Sans;
}
.accent-color {
  color: #fd6e0a;
}

.btn-color {
  background-color: #fd6e0a;
  color: white;
  border: none;
}

.hire-me {
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header{
    background-color: #FFF8F3;
}

.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  margin-left: 50px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  margin: 0;
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
}

.contact {
  background-color: white;
  color: #fd6e0a;
  border-color: #fd6e0a;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.banner{
    display: flex;
    padding: 30px 30px 30px 150px;
    align-items: center;
}

.banner .profile-pic{
    width: 500px;
}
