body {
  font-family: Open Sans;
}
.accent-color {
  color: #fd6e0a;
}

.btn-color {
  background-color: #fd6e0a;
  color: white;
  border: none;
}

.hire-me {
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

header {
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fff8f3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
  margin-left: 50px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  margin: 0;
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
}

.contact {
  background-color: white;
  color: #fd6e0a;
  border-color: #fd6e0a;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.banner {
  display: flex;
  padding: 30px 30px 0px 150px;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}
.banner .profile-pic {
  width: 450px;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.intro-words {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 585px;
  max-height: 60px;
  margin-bottom: 50px;
}

.about {
  background-color: #fff8f3;
  max-width: 1140px;
  max-height: 550px;
  padding: 150px;
  border-radius: 10px;
  margin: 130px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
